
.image-display-grid-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 90%;
  height: 90%;

  display: grid;
  grid-template-areas:
    'main main main main'
    'main main main main'
    'main main main main'
    'tl   mt1  r1   tr  '
    'bl   mb   r1   br  ';

  grid-gap: 5px;
  grid-template-rows: auto auto auto 2em 2em;
  grid-template-columns: 10em auto auto 10em;

}

#video-div {
  height: 70vh;
  margin: auto;
}

#video-tag {
  height: 100%;
  width: 100%;
}

#load-button-1 {
  grid-area: bl;
}


#load-button-2 {
  grid-area: br;
}

#filename {
  grid-area: mb;
  color: white;
}

#meta-container {
  grid-area: r1;
}

#container-area {
  grid-area: main;
}

.button-styling {
  border: none;
  color: white;
  background-color: blueviolet;
  text-align: center;
  font-size: 1.5em;
}
