
.image-display-grid-container {
  background: black;
}

#video-tag {
  padding-top: 1vh;
  width: 100%;
  /*height: 50vh;*/
}

#filename {
  text-align: center;
}

#container-area {
  margin: auto;
  display: flex;
  width: 95%;
  height: 75vh;
}

.button-group {
  position: absolute;
  bottom: 1vh;
}

.button-styling {
  color: black;
  background: #ba89ff;
  margin-right: 1em;
}
