<mat-card class="image-display-grid-container">
  <mat-card-content id="video-div">
    <div id="container-area">
      <video id="video-tag" #videoElement controls [src]="fileUrl$ | async">
        <source [type]="'video/' + (getMediaType() | async)" src="">
      </video>
    </div>
  </mat-card-content>
</mat-card>
<a href="{{this.getImageUrl((filename$ | async)!)}}" id="filename">{{decodeFilename((filename$ | async)!)}}</a>
<div id="dir-area">
  <p>Directories: </p>
  <div *ngFor="let dir of (directoryList$ | async)">
    <label>
      {{dir}}
      <input type="radio" name="directory-selector" value="{{dir}}" (change)="setSubDirectory(dir)">
    </label>
  </div>
</div>

<div id="bottom-area">
  <div id="tags-area">
<!--    <p *ngFor="let tag of (metaInfo$ | async).tags">{{tag}}</p>-->
  </div>
  <div id="button-group">
    <button mat-button id="load-button-1" (click)="transitionImageBackward()" class="button-styling button-1">Prev</button>
    <button mat-button id="load-button-2" (click)="transitionImageForward()" class="button-styling">Next</button>
  </div>
  <p id="image-count">{{(imageIndex$ | async)! + 1}} of {{(imageListSize$ | async)!}}</p>
</div>

